<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <style>
      body {
        font-family: 'Raleway';font-size: 22px;
      }
    </style>
    <title>bestlvfts.io</title>
  </head>
  <body>
    <br><br><br><br><br><br><br><br>
    <div><h1 align="center">bestlvfts.io</h1></div>
    <div class="sbd_div">
      <a href="http://localhost:5000/squat" class="sbd_button">Squat</a>
      <a href="http://localhost:5000/bench" class="sbd_button">Bench</a>
      <a href="http://localhost:5000/deadlif" class="sbd_button">Deadlift</a>
    </div>
  </body>
</html>
