<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <style>
      body {
        font-family: 'Raleway';font-size: 22px;
      }
    </style>
    <title>bestlvfts.io</title>
  </head>
  <body>
    <ul>
      <li><a onclick="about()">about</a></li>
      <li class="liright"><a onclick="signout()">signout</a></li>
    </ul>
    <div>
    <div class="sbd_div">
      <a href="squat" class="sbd_button"><div><br><br><br>Squat</div></a>
      <a href="bench" class="sbd_button"><div><br><br><br>Bench</div></a>
      <a href="deadlift" class="sbd_button"><div><br><br><br>Deadlift</div></a>
    </div>
  </div>
  </body>
  <script>
    function signout() {
        if (confirm("are you sure you want to signout?") == true) {
            window.location.replace("http://localhost:5000/");
        }
    }

    function about() {
      alert("bestlvfts.io serves to be a platform for powerlifters. With this platform you are able to categorize and display your daily best squat bench and deadlift.");
    }
  </script>
</html>
