<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <meta charset="utf-8">
    <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet'>
    <style>
      body {
        font-family: 'Raleway';font-size: 22px;
      }
    </style>
    <title>bestlvfts.io</title>
  </head>

  <body>
    <br><br><br><br><br><br>
    <h1 align="center">register for bestlvfts.io</h1>
    <div class="login_div" id="login_div">
        <form id="login_form">
            <input type="text" id="login" placeholder="login">
            <input type="password" id="password" placeholder="password">
            <input type="password" id="password_confirm" placeholder="confirm password">
            <input type="button" onclick="create_account()" value="create account">
        </form><br>
    </div>
  </body>
  <script>
      function create_account() {
        var username = document.getElementById("login").value;
        var password = document.getElementById("password").value;
        var confirm_password = document.getElementById("password_confirm").value;
        if (password == confirm_password) {
            var url = "http://localhost:5000/create_account";
            var user = document.getElementById("login").value
            var pass = document.getElementById("password").value
            var params = "login=" + user + "&password=" + pass;
            var http = new XMLHttpRequest();

            http.open("GET", url+"?"+params, true);
            http.onreadystatechange = function()
            {
                if(http.readyState == 4 && http.status == 200) {
                    if (http.responseText == "true") {
                        alert("account created");
                        window.location.replace("http://localhost:5000/");
                    } else {
                        alert("username taken. please try again!");
                    }
                }
            }
            http.send(null);

        } else {
            alert("passwords do not match. please try again!")
        }
      }
  </script>
</html>